<div class="homeTemplate">
    <div class="homeHeader">
        <label>上传文件</label>
        <hr style="width: 100%">
        <div class="uploadFile">
            <label class="importUsLabel" id="importUsLabel">您尚未上传任何文件</label>
            <div class="UploapFileBox">
                <div class="boxUploadFile">
                    <button class="btn btnUploadFile">
                        <label class="mb-0 cursor-pointer">上传文件</label>
                        <i class="icon-upload"></i>
                    </button>
                    <input type="file" class="custom-file-input inputUploadFile" id="importUs" import-sheet-js="" multiple="false">
                </div>
                <button class="btn btnSaveInformation" ng-click="save()">
                    <label class="mb-0 cursor-pointer">保存信息</label>
                </button>
            </div>
        </div>
    </div>
    <div class="filterBox">
        <div>
            <input type="text" class="form-control inputFilterText" ng-model="filters.text">
            <label class="icon-find iconSearchFilterInput"></label>
            <label class="icon-close iconClearFilterInput" ng-click="clearFilterText()"></label>
        </div>
        <hr style="width: 100%">
        <div class="filterBoxTag">
            <label class="mb-0">客户类型</label>
            <label class="mb-0 ml-5 cursor-pointer" ng-class="{'typeFilter': filters.type == ''}" ng-click="changeFilterType('')">不是</label>
            <label class="mb-0 ml-5 cursor-pointer" ng-class="{'typeFilter': filters.type == '个人'}" ng-click="changeFilterType('个人')">个人</label>
            <label class="mb-0 ml-5 cursor-pointer" ng-class="{'typeFilter': filters.type == '企业'}" ng-click="changeFilterType('企业')">企业</label>
        </div>
    </div>
    <div class="fileData" ng-show="worksheet.length > 0">
        <div class="tableHeader">
            <div class="sheetTab" ng-click="changeActiveTab($index)" ng-class="{'sheetTabActive': tabActive == $index}" ng-repeat="sheet in sheetsNames">
                {{sheet}}
            </div>
        </div>
        <hr style="width: 100%; margin-top: 1px;">
        <div class="tableBox" ng-show="tabActive == $index" ng-repeat="w in worksheet">
            <div class="rowBox" ng-repeat="r in w.array | filter:filters.text | filter:filters.type" ng-class="{'headerRow': $index == 0}">
                <div class="headerCell" ng-repeat="h in r.array track by $index " ng-class="{'headerRow': $parent.$index == 0}">
                    <label class="mb-0" ng-class="{'queryStatus': $parent.$parent.$index == 0 && $parent.$index != 0 && $index == 5}">{{h}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="emptyData" ng-show="worksheet.length == 0 || !worksheet">

    </div>
</div>