<div class="homeTemplate">
    <div class="homeHeader">
        <label>上传文件</label>
        <hr style="width: 100%">
        <div class="uploadFile">
            <div class="boxUploadFile">
                <label class="importUsLabel mb-0" id="importUsLabel">点击上传文件</label>
                <input type="file" class="custom-file-input inputUploadFile" id="importUs" import-sheet-js="" multiple="false">
            </div>
            <div class="UploapFileBox">
                <button class="btn btnUploadFile" ng-click="uploadPropertyFinder()">
                    <i class="icon-Group-1610"></i>
                    <label class="mb-0 cursor-pointer">财产查找</label>
                </button>
                <button class="btn btnUploadFile" ng-click="uploadPropertyMonitoring()">
                    <i class="icon-Group-1612"></i>
                    <label class="mb-0 cursor-pointer">财产监控</label>
                </button>
            </div>
        </div>
    </div>
    <div class="filterBox">
        <div class="displayFlexRow">
            <input type="text" class="form-control inputFilterText" ng-model="filters.text">
            <label class="icon-Group-1607 iconSearchFilterInput"></label>
            <label ng-show="filters.text.length > 0" class="icon-close iconClearFilterInput" ng-click="clearFilterText()"></label>
            <button class="btn btnSaveInformation">
                <label class="mb-0 cursor-pointer" ng-click="search()">搜索</label>
            </button>
        </div>
        <hr style="width: 100%">
        <div class="filterBoxTag">
            <label class="mb-0">客户类型</label>
            <label ng-cloak class="mb-0 ml-5 cursor-pointer" ng-class="{'typeFilter': filters.type == ''}" ng-click="changeFilterType('')">不限</label>
            <label ng-cloak class="mb-0 ml-5 cursor-pointer" ng-class="{'typeFilter': filters.type == '个人'}" ng-click="changeFilterType('个人')">个人</label>
            <label ng-cloak class="mb-0 ml-5 cursor-pointer" ng-class="{'typeFilter': filters.type == '企业'}" ng-click="changeFilterType('企业')">企业</label>
        </div>
    </div>
    <div class="fileData">
        <div class="tableHeader">
            <div ng-cloak class="sheetTab" ng-click="changeActiveTab(1)" ng-class="{'sheetTabActive': tabActive == '1'}">
                查询状态
            </div>
            <div ng-cloak class="sheetTab" ng-click="changeActiveTab(2)" ng-class="{'sheetTabActive': tabActive == '2'}">
                资产拍卖
            </div>
            <div ng-cloak class="sheetTab" ng-click="changeActiveTab(3)" ng-class="{'sheetTabActive': tabActive == '3'}">
                涉诉监控
            </div>
            <div ng-cloak class="sheetTab" ng-click="changeActiveTab(4)" ng-class="{'sheetTabActive': tabActive == '4'}">
                失信记录
            </div>
            <div ng-cloak class="sheetTab" ng-click="changeActiveTab(5)" ng-class="{'sheetTabActive': tabActive == '5'}">
                代位权
            </div>
        </div>
        <hr style="width: 100%; margin-top: 0px;">
        <div class="tableBox">
            <div ng-cloak class="displayFlexColumn" ng-show="tabActive == '1'">
                <div class="headerRow">
                    <div class="headerCellCustomerType">
                        客户类型
                    </div>
                    <div class="headerCellAgency">
                        归属机构
                    </div>
                    <div class="headerCellCustomerType">
                        姓名
                    </div>
                    <div class="headerCellIDNumber">
                        证件号码
                    </div>
                    <div class="headerCellIDNumber">
                        企业名称
                    </div>
                    <div class="headerCellDate">
                        案号
                    </div>
                    <div class="headerCellDate">
                        查询状态
                    </div>
                    <div class="headerCellDate">
                        查询结果
                    </div>
                    <div class="headerCellDate">
                        查询时间
                    </div>
                    <div class="headerCellDate">
                        资产规模
                    </div>
                    <div class="headerCellDate">
                        监控到期日
                    </div>
                </div>
                <div ng-repeat="q in querys | filter: filters.text | filterBy: ['customer_type']: filters.type | orderBy: 'created_date' | orderBy: 'name'">
                    <div class="rowBox">
                        <div class="headerCellCustomerType">
                            {{q.customer_type}}
                        </div>
                        <div class="headerCellAgency">
                            {{q.ownership_agency}}
                        </div>
                        <div class="headerCellCustomerType">
                            {{q.name}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{q.id_number}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{q.company_name}}
                        </div>
                        <div class="headerCellDate">
                            {{q.case_number}}
                        </div>
                        <div class="headerCellDate">
                            {{q.query_status}}
                        </div>
                        <div class="headerCellDate">
                            {{q.search_result}}
                        </div>
                        <div class="headerCellDate">
                            {{q.query_time}}
                        </div>
                        <div class="headerCellDate">
                            {{q.assets_size}}
                        </div>
                        <div class="headerCellDate">
                            {{q.monitoring_expiration_date}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-cloak class="displayFlexColumn" ng-show="tabActive == '2'">
                <div class="headerRow">
                    <div class="headerCellCustomerType">
                        客户类型
                    </div>
                    <div class="headerCellAgency">
                        归属机构
                    </div>
                    <div class="headerCellCustomerType">
                        姓名
                    </div>
                    <div class="headerCellIDNumber">
                        证件号码
                    </div>
                    <div class="headerCellIDNumber">
                        企业名称
                    </div>
                    <div class="headerCellIDNumber">
                        唯一ID
                    </div>
                    <div class="headerCell">
                        债务人名称
                    </div>
                    <div class="headerCell">
                        债务人证件号
                    </div>
                    <div class="headerCellDate">
                        更新时间
                    </div>
                    <div class="headerCellAuctionTitle">
                        拍卖标题
                    </div>
                    <div class="headerCellSourceLink">
                        拍卖源链接
                    </div>
                    <div class="headerCellDate">
                        处置法院
                    </div>
                    <div class="headerCell">
                        拍卖状态
                    </div>
                    <div class="headerCellDate">
                        开拍时间
                    </div>
                    <div class="headerCell">
                        当前价
                    </div>
                    <div class="headerCell">
                        评估价
                    </div>
                    <div class="headerCell">
                        成交价
                    </div>
                    <div class="headerCell">
                        审核备注
                    </div>
                </div>
                <div ng-repeat="a in auctions | filter: filters.text  | filterBy: ['customer_type']: filters.type | orderBy: 'created_date'">
                    <div class="rowBox">
                        <div class="headerCellCustomerType">
                            {{a.customer_type}}
                        </div>
                        <div class="headerCellAgency">
                            {{a.ownership_agency}}
                        </div>
                        <div class="headerCellCustomerType">
                            {{a.name}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{a.id_number}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{a.company_name}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{a.unique_id}}
                        </div>
                        <div class="headerCell">
                            {{a.debtor_name}}
                        </div>
                        <div class="headerCell">
                            {{a.debtor_id_number}}
                        </div>
                        <div class="headerCellDate">
                            {{a.update_time}}
                        </div>
                        <div class="headerCellAuctionTitle">
                            {{a.auction_title}}
                        </div>
                        <div class="headerCellSourceLink">
                            {{a.auction_source_link}}
                        </div>
                        <div class="headerCellDate">
                            {{a.disposal_court}}
                        </div>
                        <div class="headerCell">
                            {{a.auction_status}}
                        </div>
                        <div class="headerCellDate">
                            {{a.start_time}}
                        </div>
                        <div class="headerCell">
                            {{a.current_price}}
                        </div>
                        <div class="headerCell">
                            {{a.evaluation_price}}
                        </div>
                        <div class="headerCell">
                            {{a.final_price}}
                        </div>
                        <div class="headerCell">
                            {{a.audit_note}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-cloak class="displayFlexColumn" ng-show="tabActive == '3'">
                <div class="headerRow">
                    <div class="headerCellCustomerType">
                        客户类型
                    </div>
                    <div class="headerCellAgency">
                        归属机构
                    </div>
                    <div class="headerCellCustomerType">
                        姓名
                    </div>
                    <div class="headerCellIDNumber">
                        证件号码
                    </div>
                    <div class="headerCellIDNumber">
                        企业名称
                    </div>
                    <div class="headerCellIDNumber">
                        唯一ID
                    </div>
                    <div class="headerCell">
                        债务人名称
                    </div>
                    <div class="headerCell">
                        债务人证件号
                    </div>
                    <div class="headerCellDate">
                        更新时间
                    </div>
                    <div class="headerCellDate">
                        立案日期
                    </div>
                    <div class="headerCellDate">
                        开庭日期
                    </div>
                    <div class="headerCellAuctionTitle">
                        原告
                    </div>
                    <div class="headerCellAuctionTitle">
                        被告
                    </div>
                    <div class="headerCell">
                        起诉法院
                    </div>
                    <div class="headerCellDate">
                        案号
                    </div>
                    <div class="headerCell">
                        案件详情链接
                    </div>
                </div>
                <div class="displayFlexColumn">
                    <div ng-repeat="s in surveillance | filter: filters.text  | filterBy: ['customer_type']: filters.type | orderBy: 'created_date'">
                        <div class="rowBox">
                            <div class="headerCellCustomerType">
                                {{s.customer_type}}
                            </div>
                            <div class="headerCellAgency">
                                {{s.ownership_agency}}
                            </div>
                            <div class="headerCellCustomerType">
                                {{s.name}}
                            </div>
                            <div class="headerCellIDNumber">
                                {{s.id_number}}
                            </div>
                            <div class="headerCellIDNumber">
                                {{s.company_name}}
                            </div>
                            <div class="headerCellIDNumber">
                                {{s.unique_id}}
                            </div>
                            <div class="headerCell">
                                {{s.debtor_name}}
                            </div>
                            <div class="headerCell">
                                {{s.debtor_id_number}}
                            </div>
                            <div class="headerCellDate">
                                {{s.update_time}}
                            </div>
                            <div class="headerCellDate">
                                {{s.date_filing}}
                            </div>
                            <div class="headerCellDate">
                                {{s.court_date}}
                            </div>
                            <div class="headerCellAuctionTitle">
                                {{s.plaintiff}}
                            </div>
                            <div class="headerCellAuctionTitle">
                                {{s.defendant}}
                            </div>
                            <div class="headerCell">
                                {{s.prosecution_court}}
                            </div>
                            <div class="headerCellDate">
                                {{s.case_number}}
                            </div>
                            <div class="headerCell">
                                {{s.case_details_link}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-cloak class="displayFlexColumn" ng-show="tabActive == '4'">
                <div class="headerRow">
                    <div class="headerCellCustomerType">
                        客户类型
                    </div>
                    <div class="headerCellAgency">
                        归属机构
                    </div>
                    <div class="headerCellCustomerType">
                        姓名
                    </div>
                    <div class="headerCellIDNumber">
                        证件号码
                    </div>
                    <div class="headerCellIDNumber">
                        企业名称
                    </div>
                    <div class="headerCell">
                        失信人姓名
                    </div>
                    <div class="headerCellIDNumber">
                        失信人身份证号
                    </div>
                    <div class="headerCellDate">
                        机构名称
                    </div>
                    <div class="headerCellDate">
                        案号
                    </div>
                    <div class="headerCell">
                        省份
                    </div>
                    <div class="headerCellDate">
                        发布日期
                    </div>
                    <div class="headerCellIDNumber">
                        被执行人履历状态
                    </div>
                    <div class="headerCellAuctionTitle">
                        被执行人行为具体情形
                    </div>
                    <div class="headerCellAuctionTitle">
                        法定代表人|负责人姓名
                    </div>
                    <div class="headerCellAuctionTitle">
                        生效法律文书确定的义务
                    </div>
                </div>
                <div ng-repeat="t in trust | filter: filters.text  | filterBy: ['customer_type']: filters.type | orderBy: 'created_date'">
                    <div class="rowBox">
                        <div class="headerCellCustomerType">
                            {{t.customer_type}}
                        </div>
                        <div class="headerCellAgency">
                            {{t.ownership_agency}}
                        </div>
                        <div class="headerCellCustomerType">
                            {{t.name}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{t.id_number}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{t.company_name}}
                        </div>
                        <div class="headerCell">
                            {{t.untrusted_person_name}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{t.untrusted_person_id_number}}
                        </div>
                        <div class="headerCellDate">
                            {{t.institution_name}}
                        </div>
                        <div class="headerCellDate">
                            {{t.case_number}}
                        </div>
                        <div class="headerCell">
                            {{t.province}}
                        </div>
                        <div class="headerCellDate">
                            {{t.release_date}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{t.executed_person_status}}
                        </div>
                        <div class="headerCellAuctionTitle">
                            {{t.execution_person_behavior}}
                        </div>
                        <div class="headerCellAuctionTitle">
                            {{t.legal_representative}}
                        </div>
                        <div class="headerCellAuctionTitle">
                            {{t.obligation_established}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-cloak class="displayFlexColumn" ng-show="tabActive == '5'">
                <div class="headerRow">
                    <div class="headerCellCustomerType">
                        客户类型
                    </div>
                    <div class="headerCellAgency">
                        归属机构
                    </div>
                    <div class="headerCellCustomerType">
                        姓名
                    </div>
                    <div class="headerCellIDNumber">
                        证件号码
                    </div>
                    <div class="headerCellIDNumber">
                        企业名称
                    </div>
                    <div class="headerCellIDNumber">
                        唯一ID
                    </div>
                    <div class="headerCell">
                        债务人名称
                    </div>
                    <div class="headerCell">
                        债务人证件号
                    </div>
                    <div class="headerCellDate">
                        更新时间
                    </div>
                    <div class="headerCellDate">
                        立案日期
                    </div>
                    <div class="headerCellDate">
                        开庭日期
                    </div>
                    <div class="headerCellAuctionTitle">
                        原告
                    </div>
                    <div class="headerCellAuctionTitle">
                        被告
                    </div>
                    <div class="headerCell">
                        起诉法院
                    </div>
                    <div class="headerCellDate">
                        案号
                    </div>
                    <div class="headerCell">
                        案件详情链接
                    </div>
                </div>
                <div ng-repeat="s in succesion | filter: filters.text  | filterBy: ['customer_type']: filters.type | orderBy: 'created_date'">
                    <div class="rowBox">
                        <div class="headerCellCustomerType">
                            {{s.customer_type}}
                        </div>
                        <div class="headerCellAgency">
                            {{s.ownership_agency}}
                        </div>
                        <div class="headerCellCustomerType">
                            {{s.name}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{s.id_number}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{s.company_name}}
                        </div>
                        <div class="headerCellIDNumber">
                            {{s.unique_id}}
                        </div>
                        <div class="headerCell">
                            {{s.debtor_name}}
                        </div>
                        <div class="headerCell">
                            {{s.debtor_id_number}}
                        </div>
                        <div class="headerCellDate">
                            {{s.update_time}}
                        </div>
                        <div class="headerCellDate">
                            {{s.date_filing}}
                        </div>
                        <div class="headerCellDate">
                            {{s.court_date}}
                        </div>
                        <div class="headerCellAuctionTitle">
                            {{s.plaintiff}}
                        </div>
                        <div class="headerCellAuctionTitle">
                            {{s.defendant}}
                        </div>
                        <div class="headerCell">
                            {{s.prosecution_court}}
                        </div>
                        <div class="headerCellDate">
                            {{s.case_number}}
                        </div>
                        <div class="headerCell">
                            {{s.case_details_link}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>